<article id="question">
  <h1><%= @question.title %></h1>

  <div class="header">
    <span class="datetime"><%= "Asked on #{@question.created_at}" %></span>
    <span class="author-name"><%= "Written by: #{@question.user.name}" %></span>
    <br>
  </div>
  <span class="votes"><%= @question.vote_sum %></span>
  <p><%= @question.body %></p>
  <% if current_user == @question.user %>
    <a href='/questions/<%=@question.id%>/edit'>Edit</a>
  <% end %>
</article>
<div class="comments">
  <ul>
    <% @q_comments.each do |comment| %>
    <li>
      <%= comment.body %>
    </li>
    <% end %>
  </ul>
</div>

<p>
  <%= erb :'partials/_q_comment_form', layout: false, locals: { action: "/questions/#{@question.id}/q_comment", value: "comment", placeholder: "comment", question_id: @question.id } %>
</p>

<br>
<hr>
<br>

<article class="answers">
  <% if @answers.empty? %>
    <p>There are no answers yet. Share yours!</p>
  <% else %>
    <% @answers.each do |answer| %>
    <div class="header">
      <span class="datetime"><%= "Answered at #{answer.created_at}" %></span>
      <span class="author-name"><%= "Answered by: #{answer.user.name}" %></span>
    </div>
    <p><%= answer.body %></p>
    <% if current_user == answer.user %>
      <a href='/questions/<%= answer.question_id %>/answers/<%= answer.id %>/edit'>Edit</a>
    <% end %>
    <br>
      <% a_comments = Comment.where(answer_id: answer.id) %>
      <% if a_comments.empty? %>
        <p>There are no comments</p>
      <% else %>
        <% a_comments.each do |comment| %>
          <div class="comments">
            <p>Comments:</p>
            <p><%= comment.body %></p>
          </div>
        <% end  %>
      <% end %>
    <br>
    <p>
      <%= erb :'partials/_a_comment_form', layout: false, locals: { action: "/questions/#{@question.id}/a_comment", value: "comment", placeholder: "comment", answer_id: answer.id } %>
    </p>
    <br>
    <% end %>
  <% end %>
</article>

<% if current_user %>
  <form id="new-answer-form" action='/questions/<%= @question.id %>' method='post' >
    <label>Answer:</label>
    <br>
    <textarea class="new-answer" name="body" rows="4" cols="50"></textarea>
    <br>
    <button id="answer-submit"><input type="submit" value="submit answer"></button>
  </form>
<% end  %>
